
body{
    background-color: rgb(228, 204, 255);
    font-family:'Karla', sans-serif; 
    margin-top: 50px; 
    margin-bottom: 50px; 
    margin-left: 50px; 
    margin-right: 50px;}
table{
    font-size: x-large;
    margin-left: 50px; 
    margin-right: 50px;
    border: 2px solid black;
    border-style: dotted;
    padding: 20px;
    column-gap: 20px;
    border-radius: 10px;}
h1{
    font-size: xx-large;
    font-weight: 500;
    margin-left: 50px;
    margin-right: 50px;}
table.one{
    border-color: rgb(153, 92, 211);}
table.two{
    width: auto;
    margin-right: 50px;
    margin-left: 50px;
    border-color: rgb(153, 92, 211);}
table.three{
    border-color: rgb(153, 92, 211);}
hr{
    margin: 50px;}
footer{margin-left: 50px;}
img{
    border-radius: 10px;}
figcaption{
    font-size: medium;
    line-height: 25px;}
image.kat{
    margin-left: 50px;
    margin-right: 50px;
    max-width: fit-content;
    max-height: fit-content;
    object-fit: cover;}